.navbox {
  visibility: hidden;
  display: flex;
  position: absolute;
  background-color: white;
  top: 0px;
  right: 0px;
  width: 60%;
  height: 100%;
  flex-direction: column;
}
.navbox > button {
  display: flex;
  height: 60px;
  border: 0px;
  background-color: white;
  justify-content: right;
  align-items: center;
}
.navbox > button > img {
  height: 20px;
  margin-right: 15px;
}
.navbox__link {
  display: flex;
  height: 60px;
  font-size: 17px;
  font-weight: 600;
  align-items: center;
}
.navbox__link > div {
  margin-left: 20px;
}
.navbox__sns {
  border-top: 1px #e5e5e5 solid;
  font-size: 15px;
  font-weight: 600;
  padding-top: 10px;
}
.navbox__sns a {
  display: flex;
  height: 40px;
  margin-left: 20px;
  align-items: center;
}
.navbox__sns img {
  height: 15px;
  margin-right: 4px;
}
